:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.4s;
}
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.header {
    
     background-color: white;
     position: relative;
     --webkit-box-shadow: 0 0 10px #ddd;
     --moz-box-shadow: 0 0 10px #ddd;
     box-shadow: 0 0 10px #ddd;
     max-width: 100%;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}
.header .logo {
    right: 40px;
    height: 100px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media(max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 100px;
        padding-left: 70px;
    }
}

@media(max-width: 767px) {
    .header .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
}
.header h1 {
    
    display: block;
    color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    right: 0;

}
.header .main-nav {
    display: flex;
}
@media(max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}
.header .main-nav > li > a {
    display: flex;
    background-color: white;
    padding: 0 30px;
    margin-left: 10px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    height: 80px;
    transition: var(--main-transition);
    color: black;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    width: 100%;
}
@media(max-width: 767px) {
    .header .main-nav > li > a {
        padding: 12px;
        font-size: 14px;
        height: 90px;
        background-color: white;
    }
}
.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    right: -100%;
    transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
    right: 0;
}
.landing {
    position: relative;
}
#imo {
    width: 100%;
   height: 500px;
    
}
@media(max-width: 767px) {
    #imo {
       flex: 1;
       display: flex;
       height: 400px;
       flex-direction: column;
       max-width: 100%;
       padding: 10px 0;
    }
    .landing {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}
@media(max-width: 767px) {
    .landing .container {
        padding: 10px 0 ;
    }
}
.main-title {
    margin: 30px auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    left: -30PX;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    right: -30PX;
    top: 50%;
    transform: translateY(-50%);
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards ;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

marquee {
    position: absolute;
    top: 70px;
    right: 400px;
    line-height: 2;
    color: white;
    text-align: center;
    font-size: 38px;
    font-family: "Tajawal", sans-serif;
    width: 340px;
    height: 370px;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 100px;
}
@media(max-width: 767px) {
    marquee {
        
        top: 50px;
        right: 10px;
        line-height: 2;
        color: white;
        text-align: center;
        font-size: 30px;
        font-family: "Tajawal", sans-serif;
        width: 300px;
        height: 330px;
        color: white;
        padding-bottom: 20px;
        margin-bottom: 100px;
    }
}

.qoraan {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.qoraan .rec {
    width: 570px;
    height: 450px;
    margin-top: 40px;
}
@media(max-width: 767px) {
    .qoraan {

        
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: -50px;
        margin-bottom: 20px;
    
    }
    .qoraan .text img {
        max-width: 100%;
        margin-top: 30px;
    }
    .qoraan .container {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    .qoraan .rec {
        width: 300px;
        margin-bottom: 30px;
    }
    .qoraan .sec {
        width: 350px;
    }
}
.qoraan .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    
}
@media(max-width: 767px) {
    .qoraan .ro {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 3px;
        max-width: 100%;
    
    }
    /* .dab {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        margin: 20px 0;
        align-items: center;
        text-align: center;
        justify-content: center;
        bottom: 0;
    } */
    /* .dab .container {
        position: relative;
    } */
    /* .qoraan .co {
        height: 200px;
        width: 100%;
        margin-top: 200px;
        margin-bottom: 200px;
    } */
}
/* .rag {
    background-color: white;
    position: relative;
    --webkit-box-shadow: 0 0 10px #ddd;
    --moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    max-width: 100%;
} */
/* .rag .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
} */
section {
    position: relative;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg {
    position: fixed;
    background-image: url("../images/quran.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
div button {
    width: 100px;
    padding: 3px;
    background-color: white;
    font-size: 22px;
    color: black;
    border: 2px solid white;
    margin-top: 5px;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transition: 0.5s;
}
@media(max-width: 767px) {
    div button {
        width: 60px;
        padding: 1px;
        font-size: 14px;
        font-weight: bold;

    }
}
div button:hover {
    color: white;
    background-color: hsl(29,93%,48%);
    border: 2px solid hsl(29,93%,48%);
}
#d1,#d2,#d3,#d4,#d5,#d6,#d7,#d8,#d9,#d10,
#d11,#d12,#d13,#d14,#d15,#d16,#d17,#d18,#d19,
#d20,#d21,#d22,#d23,#d24,#d25,#d26,#d27,#d28,
#d29,#d30,#d31,#d32,#d33,#d34,#d35,#d36,#d37,
#d38,#d39,#d40,#d41,#d42,#d43,#d44,#d45,#d46,
#d47,#d48,#d49,#d50,#d51,#d52,#d53,#d54,#d55,
#d56,#d57,#d58,#d59,#d60,#d61,#d62,#d63,#d64,
#d65,#d66,#d67,#d68,#d69,#d70,#d71,#d72,#d73,
#d74,#d75,#d76,#d77,#d78,#d79,#d80,#d81,#d82,
#d83,#d84,#d85,#d86,#d87,#d88,#d89,#d90,#d91,
#d92,#d93,#d94,#d95,#d96,#d97,#d98,#d99,#d100,
#d101,#d102,#d103,#d104,#d105,#d106,#d107,#d108,
#d109,#d110,#d111,#d112,#d113,#d114 {
    width: 300px;
    height: 330px;
    background-color: rgb(0,0,0,0.1);
    border-radius: 30px;
    color: orange;
    text-shadow: 1px 1px black;
    margin-top: 30px;
    display: none;
}
@media(max-width: 767px) {
    #d1,#d2,#d3,#d4,#d5 {
        width: 250px;
        height: 200px;
        line-height: 1.2;
    }
}
#roc {
    color: white;
    font-size: 22px;
    font-weight: bold;
}
#sec {
    width: 500px;
    height: 250px;
    position: absolute;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
@media(max-width: 767px) {
    #sec {
        width: 90%;
        display: none;
    }
    audio {
        width: 70%;
    }
}

#sda {
    color: red;
}
